/* BASIC STYLES HERE */

body {
    background-image: url('https://media.istockphoto.com/id/1136141386/vector/sticky-note-and-icon-on-human-face.jpg?s=612x612&w=0&k=20&c=Aja1kKF_pRx5dncFERHVbBAEzCr73ey0YAQ2r5NZGYA=');
    background-repeat: no-repeat;
    background-position: center; 
    background-color: white;
}

textarea {
    width: 26em;
    height:20em;
    margin-left: 2em;
    margin-top: 0.5em;
}

.sidebar {
    background-color: rgba(176, 198, 247, 0.937);
}

.sidebar-body {
    background-color: rgba(211, 211, 211, 0.975);
}

.sidebar-input {
    background-color: rgba(211, 211, 211, 0.975);
    border: none;
    border-bottom: 1px solid gray;
    color: black;
    margin-bottom: 1em;
}

.sidebar-input::placeholder {
    color: rgb(82, 80, 80)
}

.color-picker {
    padding: 0;
    border: black;
    height: 20px;
    width: 20px;
    margin-left: 1.0em;
    margin-top: 0.25em;
    vertical-align: middle;
}

.add-memo {
    background-color: rgba(176, 198, 247, 0.937);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: none;
    margin-top: -5px;
    margin-left: 1em;
    padding: 0.25em;
}

.add-memo:hover {
    background-color: rgb(162, 187, 240);
    color: rgb(0, 0, 0);
}

.form-style {
    width: 100vh;

}

.active-memo {
    margin-top: 5em;
    width: 30em;
}

/* TODO fix float */
.delete {
    float: right;
    padding: 5px;
}

#memo-title {
    color: black;
    padding-left: 1em;
}
