<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <form onsumbit="">
                    <input class="form-style" type="text" name="name" placeholder="Memo's Name" minlength="3" maxlength="15" required>
                    <textarea class="form-style" name="memoBody" id="memoBody" row="10" placeholder="Enter your memo's details here..."></textarea>
                    <button class="btn btn-success">Save Memo</button>
            </div>

            </form>
        </div>
    </div>
    
</section>