<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>Welcome to Memos</h1>
                <h2>Please select a button below to get started</h2>
                <div class="d-flex justify-content-center gap-5">
                    <button class="btn btn-primary" onclick="app.MemoController.drawActiveMemo()">Create New Memo</button>
                    <button class="btn btn-primary">Edit Existing Memo</button>
                </div>

            </div>
        </div>
    </div>
</section>